
<ng-include src="'/html/loggedOutHeader.html'"> </ng-include>

<div class="container">
	<form action="/signup" method="POST">
		SIGNUP
		<input name="firstname" placeholder="First Name">
		<input name="lastname" placeholder="Last Name">
		<input name="username" placeholder="User Name">
		<input name="password" placeholder="Password">
		<!-- <input ng-model="newUser.email" type="email">
		<input ng-model="newUser.city" type="text">
		<input ng-model="newUser.city" type="text">
		<input ng-model="newUser.city" type="text"> -->
		<input type="submit">
	</form>
</div>