
<ng-include src="'/html/loggedInHeader.html'"> </ng-include>

	<!-- <form class="new-location" action="/api/locations" method="POST"> -->
	<form class="new-location">
		<input type="text" ng-model="newLocationName">
		<input type="submit" ng-click="addNewLocation=true" value="Create Location">
	</form>
<!-- 	<button ng-click="showarray()">show stuff</button> -->

	<div id="map" ng-click="createMarker()"></div>
	<div class="markers"></div>


	<div ng-repeat="location in allLocations">
	
		<div class="modal-container">
				<div class="modals" ng-show="isModalSet('{{location.name}}')">
					<button class="closeModal" ng-click="setModal('')">X</button>
				
					
						<p class="loc-name">{{location.name}}</p>
						<button ng-show="addWall;" ng-click="addWall=false">Add new Wall</button>
						<form ng-hide="addWall">
							<input type="text" placeholder="wall name" ng-model="newWallName">
							<input type="submit" value="Add Wall" ng-click="makeNewWall({name : newWallName, id : location._id}); addWall=true">
						</form> <!-- WALL CREATOR -->
						
						<!-- <div ng-show="anyAreas(locations[name])"> -->
						<button ng-show="addProblem" ng-click="addProblem=false">Add new Problem</button>
						<form ng-hide="addProblem">
							<!-- <input type="checkbox" ng-model="newProblem.completed"> -->
							<!-- {{problemCompleted}} -->
							<!-- {{newProblem.completed}} -->
							<input type="text" placeholder="problem name" ng-model="newProblem.name">
							<input type="text" placeholder="problem grade" ng-model="newProblem.grade">
							<input type="text" placeholder="problem rating" ng-model="newProblem.rating">
							<select name="walls" ng-model="newProblem.wall">
								<option ng-repeat="wall in location.walls" value="{{wall.wallName}}">{{wall.wallName}}</option>
							</select>
							<input type="submit" value="Add Problem" ng-click="makeNewProblem({id : location._id, name : newProblem.name, grade : newProblem.grade, rating : newProblem.rating, wall : newProblem.wall}); addProblem=true">
						</form>

					
								<div ng-repeat="wall in location.walls">
									<div ng-repeat="problem in wall.problems" class="problems-output">
										<input ng-checked="user.completedClimbs[location.name][wall.wallName].indexOf(problem.problemName) != 1" type="checkbox" ng-click="pushCC({id : location._id, locationName : location.name, wallName : wall.wallName, problemName : problem.problemName, grade : problem.grade})"> 
										 Problem: <span class="problem-span">{{problem.problemName}}</span>		|   Grade: v<span class="grade-span">{{problem.grade}}</span> 	| Rating: {{problem.rating}} 	|   Wall: <span class="wall-span">{{problem.wall}}</span>
									</div>
									
								</div>
							</div>
						</div>



				</div> <!-- MODAL -->
				</div> <!-- MODAL CONTAINER -->
			</div>



