
<ng-include src="'/html/loggedInHeader.html'"> </ng-include>
<!-- <div class="profile-container"> -->

	<div class="cc-list">
		 <div class="climbs-text">Completed Climbs</div>
		<ul>
			<li ng-repeat="(id, walls) in user.completedClimbs">
				<h4 class="location-name">{{id}}</h4>
				<ul>
					<li ng-repeat="(wall, climbs) in walls">
						<h5 class="location-wall"> {{wall}}</h5>
						<ul>
							<li ng-repeat="climb in climbs">
								<p class="climb-name">- <span class="theclimb">{{climb.name}}</span> v{{climb.grade}}</p>
							</li>
						</ul>
						
					</li>
				</ul>
			</li>
		</ul>
	</div>



	<div class="profile-content">
		<h2 class="welcome-user">Welcome back, {{ user.firstname }}! </h2>

		<img src="https://media.giphy.com/media/WMCvODAwQC5KU/giphy.gif" alt="">
		<!-- <p>Name: {{ user.firstname }} {{ user.lastname }}</p>
		<p>ID: {{ user._id }}</p>
		<p>Created On: {{ user.date }}</p>
		<p>completed Climbs {{user.completedClimbs}}</p>

	<button ng-click="showMe()">show user</button> -->
	</div>
<!-- </div> -->